@model IEnumerable<GP.Domain.Entities.Facture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Product.Name)*@
                
                <a asp-controller="Product" asp-action="_Details"
                   asp-route-id=@item.Product.ProductId
                   >@item.Product.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Productid = item.ProductFk, ClientId = item.ClientFk, DateAchat = item.DateAchat }) |
                @Html.ActionLink("Details", "Details", new { Productid = item.ProductFk, ClientId = item.ClientFk, DateAchat = item.DateAchat }) |
                @Html.ActionLink("Delete", "Delete", new { Productid = item.ProductFk, ClientId = item.ClientFk, DateAchat = item.DateAchat })
            </td>
        </tr>
}
    </tbody>
</table>
